version: '3.8'
services:
  backend:
    build: .
    ports:
      - "8001:8001"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: